{% set title = 'Thiết lập thành công ví MoMo' %}

{% extends 'layouts/app-email.html' %}

{% block content %}




<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 0;">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <img alt="alt_text" class="g-img"
                        src="https://img.mservice.io/momo_app_v2/new_version/img/banner/Applenewbanner.jpg"
                        style="max-width: 600px;background: rgb(221, 221, 221);margin: auto;display: block;border-width: 0px;border-style: solid;width: 100%;">
                </td>

            </tr>



        </table>

    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; padding-top: 20px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <h1 class="h1m"
                        style="font-size: 22px; line-height: 28px;letter-spacing: -.20px; margin: 0px 0 5px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: center;">
                        Giải trí bất tận<br />Thanh toán đơn giản </h1>
                </td>

            </tr>

            <tr>

                <td class="padding: 0; margin: 0">
                    <h3 class="h2m"
                        style="font-weight: normal; font-size: 16px; line-height: 22px; margin: 0 0 16px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: center;">
                        Trò chơi, ứng dụng, nhạc, phim, iCloud, và hơn thế nữa - thanh toán tất cả với Ví MoMo </h3>
                </td>

            </tr>

            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Chào <b>${fullname}</b>,
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Bạn đã <b>thiết lập thành công</b> Ví MoMo ${phoneNumber} làm phương thức thanh toán cho tài
                        khoản ID Apple.
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Từ nay, các giao dịch thực hiện từ tài khoản ID Apple này sẽ được <b>tự động trừ tiền qua Ví
                            MoMo</b> mà không cần xác nhận lại mật khẩu và OTP của Ví.
                    </p>
                    <p class="h2m"
                        style="margin: 0 0 0 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Trải nghiệm dịch vụ Apple trọn vẹn hơn bằng cách:

                    </p>

                    <ul class="h2m"
                        style="padding-left: 30px;margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;"">
                        <li>
                            <strong style=" font-weight: bold; ">Duy trì số dư tối thiểu</strong> trong Ví bằng với số tiền cần thanh toán
                        </li>
                        <li>
                            <strong style=" font-weight: bold; ">Cài đặt hạn mức thanh toán </strong> lên đến 20 triệu/ngày
                        </li>
                        <li>
                            <strong style=" font-weight: bold; ">	Quản lý các gói Đăng ký </strong> tự động gia hạn
                        </li>
                    </ul>

                    <p class=" h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Tìm hiểu thêm về các vấn đề thường gặp khi thanh toán App Store qua Ví MoMo

                        <a href="https://momo.vn/tin-tuc/tin-tuc-su-kien/cac-cau-hoi-thuong-gap-khi-thanh-toan-app-store-qua-vi-momo-1131"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;">
                            <span>tại đây</span>
                        </a>
                        </p>

                        <p class="h2m"
                            style="margin: 0 0 25px 0 ; font-size: 14px; font-style: italic; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                            <strong style="color: #F1330A">LƯU Ý:</strong> Để đảm bảo an toàn cho Ví, tuyệt đối
                            <b>KHÔNG cung cấp OTP/mật khẩu Ví MoMo, KHÔNG cho người khác sử dụng Ví, và KHÔNG thiết lập
                                thanh toán Ví với tài khoản của người dùng khác</b>. <a
                                href="https://momoapp.page.link/YGbcY9gbDQE1ugnY6"
                                style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;">Nhấn
                                    vào đây</a> để quản lý
                            các dịch vụ liên kết của Ví, và hủy/tạm khóa các liên kết không phải do bạn thực hiện.
                        </p>


                </td>

            </tr>



        </table>

    </td>
</tr>


{% endblock %}