{% set title = 'Hóa đơn điện tử MoMo' %}

{% extends 'layouts/app-email.html' %}

{% block content %}



<tr>
    <td align="center" style="background-color: white; padding-top: 15px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <h1 class="h1m"
                        style="font-size: 22px; line-height: 28px;letter-spacing: -.20px; margin: 10px 0 5px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #a50064; text-align: left;">
                        Hóa đơn điện tử MoMo</h1>
                </td>

            </tr>

            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 5px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 22px;">
                        Xin chào bạn, <br />
                        Rất cảm ơn bạn đã sử dụng dịch vụ của Ví điện tử MoMo.
                    </p>

                </td>

            </tr>


        </table>

    </td>
</tr>



<tr>
    <td align="center" style="background-color: white; padding-top: 15px; padding-bottom: 10px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class=""
                    style="font-size: 16px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; padding-right: 12px; text-align: left; padding-bottom: 4px; font-weight: bold;"
                    valign="bottom">

                    Khoản thanh toán</td>

                <td class=""
                    style="font-size: 28px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.2em; font-weight: 500;"
                    valign="bottom">
                    ${amount}
                </td>

            </tr>


        </table>
        <!-- 
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="border-bottom: 1px solid #E81F76; padding-top: 10px;"></td>
                </tr>
            </tbody>
        </table> -->

    </td>
</tr>



<tr>
    <td align="center" class="soju-border-space" style="background-color: white; padding-top: 20px; padding-bottom: 20px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top" align="left" style="font-size: 1px; line-height: 1px; background-color: #E2E2E2">
                    &nbsp; </td>
            </tr>
        </table>
    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; ">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class=""
                    style="font-size: 15px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; font-weight: bold; padding-bottom: 10px;">
                    Thông tin hóa đơn</td>
            </tr>

        </table>

    </td>
</tr>

<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 0;">

        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Số điện thoại người nhận</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${phoneNumber}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Người nhận</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${fullname}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Dịch vụ</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;line-height:22px;  font-weight: bold; font-size: 14px;">
                        ${serviceName}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Nguồn tiền</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${moneySource}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Thời gian</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${time}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Mã giao dịch</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${tranId}</div>
                </td>

            </tr>

        </table>

    </td>
</tr>

<tr>
    <td align="center" class="soju-border-space" style="background-color: white; padding-top: 20px; padding-bottom: 20px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top" align="left" style="font-size: 1px; line-height: 1px; background-color: #E2E2E2">
                    &nbsp; </td>
            </tr>
        </table>
    </td>
</tr>



<tr>
    <td align="center" style="background-color: white; ">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class=""
                    style="font-size: 15px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; font-weight: bold; padding-bottom: 10px;">
                    Chi tiết giao dịch</td>
            </tr>

        </table>

    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 0;">

        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Số tiền</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${originalAmount}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Phí giao dịch</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${fee}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Thẻ quà tặng</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${useVoucher}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Chiết khấu từ MoMo</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${discount}</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#555;margin:0px;line-height:20px;  font-weight: normal; font-size: 14px; padding-right: 10px;">
                        Điểm thưởng</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 14px;">
                        ${point}</div>
                </td>

            </tr>

            <tr >
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left; line-height: 1.55em;"
                    width="" >

                    <div
                        style="border-top: 1px dashed #f3f3f3; padding-top: 10px; color:#1d1d1f;margin:0px;font-size:12px;line-height:20px;  font-weight: bold; font-size: 15px; padding-right: 10px;">
                        Tổng cộng</div>
                </td>
                <td class=""
                    style=" padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: right; line-height: 1.55em;"
                    width="">

                    <div
                        style="border-top: 1px dashed #f3f3f3; padding-top: 10px; color:#1d1d1f;margin:0px;font-size:12px;line-height:22px;  font-weight: bold; font-size: 18px;">
                        ${amount}</div>
                </td>

            </tr>

        </table>

    </td>
</tr>






<tr>
    <td align="center" style="background-color: white; padding-top: 25px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class="padding: 0; margin: 0">


                    <p class="h2m"
                        style="margin: 0 0 25px 0 ; font-size: 14px; font-style: italic; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        <strong style="color: #F1330A">LƯU Ý:</strong> Để đảm bảo an toàn cho Ví, tuyệt đối
                        <b>KHÔNG cung cấp OTP/mật khẩu Ví MoMo, KHÔNG cho người khác sử dụng Ví, và KHÔNG thiết lập
                            thanh toán Ví với tài khoản của người dùng khác</b>. <a
                            href="https://momoapp.page.link/YGbcY9gbDQE1ugnY6"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;">Nhấn
                            vào đây</a> để quản lý
                        các dịch vụ liên kết của Ví, và hủy/tạm khóa các liên kết không phải do bạn thực hiện.
                    </p>

                </td>
            </tr>
        </table>
    </td>
</tr>





{% endblock %}