{% set title = 'Thanh toán không thành công' %}

{% extends 'layouts/app-email.html' %}

{% block content %}





<tr>
    <td align="center" style="background-color: white; padding-top: 25px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Chào <b>${fullname}</b>,
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        Tài khoản Ví MoMo ${phoneNumber} của bạn vừa thanh toán không thành công dịch vụ <b>${service}</b> vào lúc ${transTime}, Mã giao dịch: ${transId}, Số tiền: <b>${amount}đ</b>.
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Lý do: Tài khoản Ví MoMo của bạn <b>không đủ số dư</b> để thực hiện giao dịch.
                    </p>

                    <p class=" h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        Liên kết Ví MoMo với tài khoản Ngân hàng ngay:  <b>Mở Ví MoMo</b> → <b> Chọn Nạp tiền vào Ví, điền số tiền muốn nạp, sau đó bấm Nạp tiền</b> → <b> Xác nhận.</b> 


                    </p>

                    <p class=" h2m"
                        style="margin: 30px 0 30px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 24px;">
                        <a title="Mở ứng dụng" href="https://momosdk.page.link/BV3m" target="_blank"
                            style="padding:8px 20px;cursor:pointer;-webkit-text-size-adjust:100%;font-weight:bold;font-size:16px;-ms-text-size-adjust:100%;border-color:#ae2070; color: white;  background-color:#ae2070;border-radius:5px;mso-table-rspace:0pt;mso-table-lspace:0pt;border-width:1px;border-style:solid;">
                            Nạp tiền ngay
                        </a>

                    </p>

                    <p class="h2m"
                        style="margin: 0 0 25px 0 ; font-size: 14px; font-style: italic; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        <strong style="color: #F1330A">LƯU Ý:</strong> Để đảm bảo an toàn cho Ví, tuyệt đối
                        <b>KHÔNG cung cấp OTP/mật khẩu Ví MoMo, KHÔNG cho người khác sử dụng Ví, và KHÔNG thiết lập
                            thanh toán Ví với tài khoản của người dùng khác</b>. <a
                            href="https://momoapp.page.link/YGbcY9gbDQE1ugnY6"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;">Nhấn
                            vào đây</a> để quản lý
                        các dịch vụ liên kết của Ví, và hủy/tạm khóa các liên kết không phải do bạn thực hiện.
                    </p>


                </td>

            </tr>



        </table>

    </td>
</tr>


{% endblock %}