{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- Email Body : BEGIN -->
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="600"
    style="margin: 0 auto; font-family: sans-serif; text-align: left" class="email-container">
    <!-- Email Header : BEGIN -->
    <tr>
        <td bgcolor="#F7F7F7" align="right" valign="top">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="right" class="tableCollapse">
                <tbody>
                    <tr>
                        <td valign="top" width="100%">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="devicewidth"
                                align="right">
                                <tbody>
                                    <tr>
                                        <td class="H29" height="39" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 20px 0 10px ; text-align: center; background: white">
            <img src="https://static.mservice.io/images/s/momo-upload-api-190917100553-637043115539277466.png"
                width="130" height="" alt="alt_text" border="0"
                style="height: auto; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555;">
        </td>
    </tr>
    <!-- Email Header : END -->

    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
        <td style="background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td
                        style="padding: 16px 16px 10px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                        <h1
                            style="margin: 0 0 5px; text-align: center; font-size: 16px; font-weight: bold; line-height: 19px; color: #3C4043;">
                            ĐẶT PHÒNG ĐÃ BỊ HỦY</h1>

                        <div
                            style="margin: 0 0 10px; text-align: center; font-size: 16px; font-weight: normal; line-height: 19px; color: #3C4043;">
                            Booking has been cancelled!
                        </div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- 1 Column Text + Button : END -->

    <!-- 2 Even Columns : BEGIN -->
    <tr>
        <td style="padding: 16px; background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #DADADA;     border-collapse: initial !important;
            border-radius: 4px;">
                <tr>
                    <td valign="top" style="width:100%;height:12px; line-height: 0">&nbsp;</td>
                </tr>
                <tr>
                    <td style="padding-left: 12px; padding-right: 12px">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <!-- Column : BEGIN -->
                                <th valign="top" width="60%" class=""
                                    style="border-right: 1px solid #DADADA; padding-right: 7px;">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">

                                        <tr>
                                            <td>
                                                <div
                                                    style="font-size: 14px; margin:0 0 5px; line-height: 17px; font-family: sans-serif; color: #8F8E94;">
                                                    Hỗ trợ khách hàng, liên hệ MoMo
                                                </div>

                                                <div
                                                    style="font-size: 12px; margin:0 0 5px; line-height: 14px; font-family: sans-serif; color: #3C4043;">
                                                    Hotline: <a href="tel:1900 54 54 41"
                                                        style="color: #4a90e2; text-decoration: none">1900 54 54 41</a>
                                                </div>

                                                <div
                                                    style="font-size: 12px; line-height: 14px; font-family: sans-serif; color: #3C4043;">
                                                    Email: <a href="mailto:hotro@momo.vn"
                                                        style="color: #4a90e2; text-decoration: none">
                                                        hotro@momo.vn</a>
                                                </div>
                                            </td>
                                        </tr>

                                    </table>
                                </th>
                                <!-- Column : END -->
                                <!-- Column : BEGIN -->
                                <th valign="top" width="40%" class="" style="padding-left: 7px">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td>
                                                <div
                                                    style="font-size: 14px; margin:0 0 5px; line-height: 17px; font-family: sans-serif; color: #3C4043;">
                                                    Mã số đặt phòng
                                                </div>

                                                <div
                                                    style="font-size: 12px; margin:0 0 5px; line-height: 14px; font-family: sans-serif; color: #8F8E94;">
                                                    Agoda booking ID
                                                </div>

                                                <div
                                                    style="font-size: 12px; line-height: 14px; font-weight: bold; font-family: sans-serif; color: #3C4043;">
                                                    Ag787702ZYNH
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                                <!-- Column : END -->
                            </tr>

                        </table>
                    </td>

                </tr>

                <tr>
                    <td valign="top" style="width:100%;height:12px; line-height: 0">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- 2 Even Columns : END -->



    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
        <td style="background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td
                        style="padding: 5px 16px; font-family: sans-serif; font-size: 14px; line-height: 19px; color: #3C4043;">

                        <div
                            style="margin: 0 0 10px;  font-family: sans-serif; font-size: 14px; line-height: 19px; color: #3C4043;">
                            Kính gửi quý khách <strong>NGUYỄN BẢO KHÁNH</strong></div>

                        <div
                            style="margin: 0 0 10px;  font-family: sans-serif; font-size: 14px; line-height: 19px; color: #3C4043;">
                            MoMo xin liên hệ để thông báo đặt phòng của quý khách đã bị hủy do xảy ra lỗi kỹ thuật không lường trước được trong quá trình xử lý. Để được hỗ trợ thêm, vui lòng liên hệ CSKH của MoMo.

</div>

                        <div
                            style="margin: 0 0 10px;  font-family: sans-serif; font-size: 14px; line-height: 19px; color: #3C4043;">
                            Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi.</div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- 1 Column Text + Button : END -->


    <tr>
            <td style=" padding: 5px 16px; ; background: white">
                <div style="width:100%;height:0;border-top: 1px solid #E9E9E9; font-size:1px; line-height:1px;">&nbsp;</div>
            </td>
        </tr>
    

    <tr>
        <td style=" padding: 16px 16px 0px; background: white">
            <div
                style="width:100%; font-size: 16px; line-height: 19px; font-weight: bold; color: #3C4043; font-family: sans-serif; ">
                Thông tin hoàn tiền
            </div>
        </td>
    </tr>



    <!-- 2 Even Columns : BEGIN -->
    <tr>
        <td style="padding: 5px 16px; background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td colspan="2">

                        <div
                            style=" font-size: 14px; line-height: 17px;  color: #8F8E94; font-family: sans-serif; margin-bottom: 8px;">
                            --
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="50%" class="">
                        <div
                            style=" font-size: 14px; line-height: 17px;  color: #3C4043; font-family: sans-serif; margin-bottom: 3px;">
                            Tổng số tiền đã thu
                        </div>
                    </td>
                    <td valign="top" width="50%" class="">
                        <div
                            style=" font-size: 14px; line-height: 17px; font-weight: bold; color: #3C4043; font-family: sans-serif; text-align: right;  margin-bottom: 3px;">
                            xx.xxx.xxxđ
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">

                        <div
                            style=" font-size: 14px; line-height: 17px;  color: #8F8E94; font-family: sans-serif; margin-bottom: 8px;">
                            --
                        </div>
                    </td>
                </tr>

                <tr>
                    <td valign="top" width="50%" class="">
                        <div
                            style=" font-size: 14px; line-height: 17px;  color: #3C4043; font-family: sans-serif; margin-bottom: 3px;">
                            Phí huỷ phòng
                        </div>
                    </td>
                    <td valign="top" width="50%" class="r">
                        <div
                            style=" font-size: 14px; line-height: 17px; font-weight: bold; color: #3C4043; font-family: sans-serif; text-align: right; margin-bottom: 3px;">
                            0đ
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">

                        <div
                            style=" font-size: 14px; line-height: 17px;  color: #8F8E94; font-family: sans-serif; margin-bottom: 8px;">
                            --
                        </div>
                    </td>
                </tr>

                <tr>
                    <td valign="top" width="50%" class="">
                        <div
                            style=" font-size: 14px; line-height: 17px;  color: #3C4043; font-family: sans-serif; margin-bottom: 3px;">
                            Số tiền hoàn trả
                        </div>
                    </td>
                    <td valign="top" width="50%" class="r">
                        <div
                            style=" font-size: 14px; line-height: 17px; font-weight: bold; color: #B0006D; font-family: sans-serif; text-align: right; margin-bottom: 3px;">
                            xx.xxx.xxxđ
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">

                        <div
                            style=" font-size: 14px; line-height: 17px;  color: #8F8E94; font-family: sans-serif; margin-bottom: 8px;">
                            --
                        </div>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <!-- 2 Even Columns : END -->


   



    <tr>
            <td style=" padding: 5px 16px; ; background: white">
                <div style="width:100%;height:0;border-top: 1px solid #E9E9E9; font-size:1px; line-height:1px;">&nbsp;</div>
            </td>
        </tr>
    



    <tr>
        <td style=" padding: 16px 16px 0px; ; background: white">
            <div
                style="width:100%; font-size: 16px; line-height: 19px; font-weight: bold; color: #3C4043; font-family: sans-serif; ">
                Khách sạn M Boutique (M Boutique Hotel) - Vip Hotel
            </div>

        </td>
    </tr>



    <tr>
        <td style="background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td
                        style="padding: 10px 16px; font-family: sans-serif; font-size: 14px; line-height: 19px; color: #3C4043;">

                        <div
                            style="margin: 0 0 7px;  font-family: sans-serif; font-size: 12px; line-height: 14px; color: #8F8E94;">

                            <div style="display: inline-block; width: 22px">
                                <img src="https://static.mservice.io/images/s/momo-upload-api-190916155744-637042462642711437.png"
                                    border="0" style="width: 18px ; vertical-align: -24%;" alt="">
                            </div>



                            7 Thái Văn Lung, P.Bến Nghé, Q1, TP.HCM
                        </div>


                        <div
                            style="margin: 0 0 7px;  font-family: sans-serif; font-size: 12px; line-height: 14px; color: #8F8E94;">

                            <div style="display: inline-block; width: 22px">
                                <img src="https://static.mservice.io/images/s/momo-upload-api-190916155807-637042462873478959.png"
                                    border="0" style="width: 15px; vertical-align: -20%; margin-left: 1px;" alt="">
                            </div>



                            (+84) 28 345 6789
                        </div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 5px 16px; background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td valign="top" width="50%" class="">
                            <div
                                style=" font-size: 14px; line-height: 17px;  color: #3C4043; font-family: sans-serif; margin-bottom: 3px;">
                                Ngày nhận phòng
                            </div>

                            <div
                                style=" font-size: 12px; line-height: 15px;  color: #8F8E94; font-family: sans-serif; margin-bottom: 7px;">
                                Check-in date
                            </div>

                            <div
                                style=" font-size: 12px; line-height: 15px; font-weight: bold; color: #3C4043; font-family: sans-serif; margin-bottom: 3px;">
                                dd/mm/yyy
                            </div>
                        </td>
                        <td valign="top" width="50%" class="">
                            <div
                                style=" font-size: 14px; line-height: 17px;  color: #3C4043; font-family: sans-serif; margin-bottom: 3px;">
                                Ngày trả phòng
                            </div>


                            <div
                                style=" font-size: 12px; line-height: 15px;  color: #8F8E94; font-family: sans-serif; margin-bottom: 7px;">
                                Check-out date
                            </div>

                            <div
                                style=" font-size: 12px; line-height: 15px; font-weight: bold; color: #3C4043; font-family: sans-serif; margin-bottom: 3px;">
                                dd/mm/yyy
                            </div>
                        </td>
                    </tr>



                </tbody>
            </table>
        </td>
    </tr>


    <!-- Clear Spacer : BEGIN -->
    <tr>
        <td aria-hidden="true" height="20" style="font-size: 0px; line-height: 0px; ; background: white">
            &nbsp;
        </td>
    </tr>
    <!-- Clear Spacer : END -->

    <!-- 1 Column Text : BEGIN -->
    <tr>
        <td style="background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                            <a class="button-a button-a-primary" href="https://google.com/"
                                style="background: #B0006D; border: 1px solid #B0006D; font-family: sans-serif; font-size: 17px; line-height: 17px; text-decoration: none; padding: 10px 30px; color: #ffffff; display: block; border-radius: 4px;">Đặt
                                phòng khác</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <!-- Clear Spacer : BEGIN -->
    <tr>
        <td aria-hidden="true" height="30" style="font-size: 0px; line-height: 0px; ; background: white">
            &nbsp;
        </td>
    </tr>


    <tr>
            <td bgcolor="#F7F7F7" align="right" valign="top">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="right" class="tableCollapse">
                    <tbody>
                        <tr>
                            <td valign="top" width="100%">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="devicewidth"
                                    align="right">
                                    <tbody>
                                        <tr>
                                            <td class="H29" height="39" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

</table>
<!-- Email Body : END -->



{% endblock %}