{% set title = 'Yêu cầu lấy lại mật khẩu' %}

{% extends 'layouts/app-email.html' %}

{% block content %}
<!-- ADD ROW(S) HERE START -->


<tr>
    <td align="center" style="background-color: white; padding-top: 25px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <h1 class="h1m"
                        style="font-size: 22px; line-height: 28px;letter-spacing: -.20px; margin: 10px 0 16px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left;">
                        Yêu cầu lấy lại mật khẩu</h1>
                </td>

            </tr>

            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        Chào bạn, chúng tôi vừa nhận được yêu
                        cầu lấy lại mật khẩu cho tài khoản Ví
                        MoMo
                        <strong>*******${phone}</strong>.
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">


                        Mật khẩu tạm thời sẽ được gửi tới Số
                        Điện Thoại của bạn. Vui lòng bấm nút
                        <strong>“Lấy lại mật khẩu”</strong> dưới
                        đây để xác thực yêu cầu.


                    </p>


                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        Vì lý do Bảo Mật và An Toàn, xin vui
                        lòng
                        <strong>KHÔNG</strong> cung cấp mật khẩu
                        tạm thời này cho bất kì ai và
                        <strong>KHÔNG</strong> làm theo bất kỳ
                        yêu cầu nào đề nghị bạn nhấp vào nút
                        "Lấy lại mật khẩu".

                    </p>


                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        <strong>
                            **Lưu ý:</strong>

                        Nếu yêu cầu này không phải từ bạn, chúng
                        tôi nghĩ rằng có thể người nào đó đang
                        muốn đăng nhập và sử dụng Ví MoMo
                        <strong>*******${phone}</strong> của
                        bạn.

                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Trong trường hợp có bất kỳ ai tự xưng là
                        nhân viên MoMo và yêu cầu bạn nhấp vào
                        nút <strong>“Lấy lại mật
                            khẩu”</strong>, xin vui lòng
                        <strong>KHÔNG</strong> làm theo và hãy
                        gọi ngay cho tổng đài MoMo <a href="tel:1900545441"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;"><span>1900545441</span></a>
                        để được hỗ trợ.

                    </p>
                </td>



            </tr>

        </table>

    </td>
</tr>

<tr>
    <td align="left" style="background-color: white; padding-top: 15px; padding-bottom: 30px;">

        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <a title="Mở ứng dụng" href="${link}" target="_blank"
                        style="padding:8px 20px;cursor:pointer;-webkit-text-size-adjust:100%;font-weight:bold;font-size:16px;-ms-text-size-adjust:100%;border-color:#ae2070; color: white;  background-color:#ae2070;border-radius:5px;mso-table-rspace:0pt;mso-table-lspace:0pt;border-width:1px;border-style:solid;">Lấy
                        lại mật khẩu</a>
                </td>
            </tr>
        </table>

    </td>
</tr>



<tr>
        <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 15px;">
            <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    
                <tr>
    
                    <td class="" style="padding: 0 ; margin: 0">
    
    
                        <p class="h2m"
                            style="margin: 0 0 15px 0 ; font-style: italic; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                            Trân trọng, <br> Đội phát triển ứng dụng MoMo
                        </p>
                    </td>
    
                </tr>
    
            </table>
        </td>
    </tr>
{% endblock %}