{% set title = 'Đăng nhập thành công!' %}

{% extends 'layouts/app-email.html' %}

{% block content %}



<tr>
    <td align="center" style="background-color: white; padding-top: 25px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <h1 class="h1m"
                        style="font-size: 22px; line-height: 28px;letter-spacing: -.20px; margin: 10px 0 16px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left;">
                        Đăng nhập thành công!</h1>
                </td>

            </tr>

            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Xin chào Quý khách,
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Tài khoản Ví MoMo
                        <strong>${user_id}</strong> của Quý khách vừa được
                        đăng nhập thành công.
                    </p>
                </td>

            </tr>

        </table>

    </td>
</tr>

<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 20px;">

        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="h2m"
                    style="padding-top: 0; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                    <div
                        style="color:#737373;margin:0px;font-size:12px;line-height:22px; text-transform: uppercase; font-weight: bold;">
                        Thời gian</div>

                    <div class=""
                        style="color:#ae006d;display:block;font-family:sans-serif;font-size:14px;font-weight:700;line-height:24px;margin:0px;padding:0px;text-align:left;text-decoration:none;white-space:nowrap">
                        ${time}
                    </div>

                </td>

                <td class="h2m"
                    style="padding-top: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                    <div
                        style="color:#737373;margin:0px;font-size:12px;line-height:22px;  text-transform: uppercase; font-weight: bold;">
                        Thiết bị:</div>

                    <div class=""
                        style="color:#ae006d;display:block;font-family:sans-serif;font-size:14px;font-weight:700;line-height:24px;margin:0px;padding:0px;text-align:left;text-decoration:none;white-space:nowrap">
                        ${device_name}
                    </div>

                </td>

            </tr>

        </table>

    </td>
</tr>

<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class=""
                    style=" padding:0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Nếu Quý khách không thực hiện việc đăng nhập này, hãy mở ứng dụng MoMo và đổi mật khẩu ngay lập
                        tức
                        hoặc liên hệ Chăm sóc khách hàng

                        <a href="tel:1900545441"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;"><span>1900
                                54 54 41</span></a>
                        để được hỗ trợ.
                    </p>

                </td>

            </tr>

        </table>

    </td>
</tr>




<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 15px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class="" style="padding: 0 ; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        <strong>LƯU Ý:</strong> MoMo tuyệt đối không yêu cầu Quý khách cung
                        cấp Mật khẩu Ví hoặc Mã xác thực (OTP), Quý khách
                        vui lòng KHÔNG chia sẻ cho bất kỳ ai (kể cả nhân
                        viên MoMo).
                    </p>


                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-style: italic; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Trân trọng, <br> Đội phát triển ứng dụng MoMo
                    </p>
                </td>

            </tr>

        </table>
    </td>
</tr>

{% endblock %}