{% set title = 'Yêu cầu lấy lại mật khẩu' %}

{% extends 'layouts/app-email.html' %}

{% block content %}
<!-- ADD ROW(S) HERE START -->


<tr>
    <td align="center" style="background-color: white; padding-top: 25px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
     

            <tr>

                <td class="padding: 0; margin: 0">
                        <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Xin chào Quý khách,
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        Tài khoản ví MoMo <strong>${first_4_number}***${last_3_number}</strong> của khách hàng
                        <strong>${username}</strong> đang có thẻ quà tặng <strong>${name}</strong> sẽ hết hạn sử dụng
                        sau
                        ngày <strong>${dateFull}</strong>.
                    </p>


                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Hãy nhanh tay sử dụng để không bỏ lỡ nhé!
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Để xem các dịch vụ/địa điểm có thể áp dụng thẻ quà tặng này, Quý khách hãy truy cập vào Ứng dụng

                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 15px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; font-style: italic; line-height: 26px;">
                        <strong>
                            MoMo → Ưu đãi → Chọn thẻ quà tặng muốn xem.
                        </strong>

                    </p>


                </td>

            </tr>



        </table>

    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 15px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>
                <td class="" style="padding: 0 ; margin: 0">


                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-style: italic; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Trân trọng, <br> Đội phát triển ứng dụng MoMo
                    </p>
                </td>

            </tr>

        </table>
    </td>
</tr>
{% endblock %}