{% set title = 'Thiết lập thành công ví MoMo' %}

{% extends 'layouts/app-email.html' %}

{% block content %}




<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 0;">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <img alt="alt_text" class="g-img"
                        src="https://img.mservice.io/momo_app_v2/new_version/img/banner/GooglePlaynewbanner.jpg"
                        style="max-width: 600px;background: rgb(221, 221, 221);margin: auto;display: block;border-width: 0px;border-style: solid;width: 100%;">
                </td>

            </tr>



        </table>

    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; padding-top: 20px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">


            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Chào <b>${fullname}</b>,
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Bạn đã <b>thiết lập thành công</b> Ví MoMo ${phoneNumber} làm phương thức thanh toán cho tài
                        khoản Google!.
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Từ nay, các giao dịch thực hiện từ tài khoản Google này sẽ được <b>tự động trừ tiền</b> qua Ví
                        MoMo mà không cần xác nhận lại mật khẩu và OTP của Ví.
                    </p>
                    <p class="h2m"
                        style="margin: 0 0 0 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Trải nghiệm dịch vụ Google trọn vẹn với Ví MoMo bằng cách:

                    </p>

                    <ul class="h2m"
                        style="padding-left: 30px;margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;"">
                        <li>
                            <strong style=" font-weight: bold; ">Duy trì số dư</strong> trong Ví tối thiểu trong Ví bằng với số tiền cần thanh toán
                        </li>
                        <li>
                            <strong style=" font-weight: bold; ">Cài đặt hạn mức thanh toán </strong> lên đến 20 triệu/ngày: mở Ví MoMo → Ví của tôi → Dịch vụ liên kết → Dịch vụ Google → Hạn mức Thanh toán và chọn hạn mức mong muốn
                        </li>
                        <li>
                            <strong style=" font-weight:
                        bold; ">	Quản lý các Gói Đăng ký</strong> tự động gia hạn của bạn <a href="
                        https://play.google.com/store/account/subscriptions"
                        style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;">
                        tại đây</a>
                        </li>
                    </ul>

                    <p class=" h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Tìm hiểu thêm về các vấn đề thường gặp khi thanh toán Google Play qua Ví MoMo
                        <a href="https://momo.vn/tin-tuc/tin-tuc-su-kien/cau-hoi-thuong-gap-khi-thanh-toan-google-play-qua-vi-momo-1124"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;">
                            <span>tại đây</span>
                        </a>
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 25px 0 ; font-size: 14px; font-style: italic; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        <strong style="color: #F1330A">LƯU Ý:</strong> Để đảm bảo an toàn cho Ví, tuyệt đối
                        <b>KHÔNG cung cấp OTP/mật khẩu Ví MoMo, KHÔNG cho người khác sử dụng Ví, và KHÔNG thiết lập
                            thanh toán Ví với tài khoản của người dùng khác</b>. <a
                            href="https://momoapp.page.link/kG8TkryY5oYR98dN8"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;">Nhấn
                            vào đây</a> để quản lý
                        các dịch vụ liên kết của Ví, và hủy/tạm khóa các liên kết không phải do bạn thực hiện.
                    </p>

                    <p class=" h2m"
                        style="margin: 30px 0 30px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 24px;">
                        <a title="Mở ứng dụng" href="https://play.google.com/store" target="_blank"
                            style="padding:8px 20px;cursor:pointer;-webkit-text-size-adjust:100%;font-weight:bold;font-size:16px;-ms-text-size-adjust:100%;border-color:#ae2070; color: white;  background-color:#ae2070;border-radius:5px;mso-table-rspace:0pt;mso-table-lspace:0pt;border-width:1px;border-style:solid;">
                            KHÁM PHÁ NGAY
                        </a>

                    </p>


                </td>

            </tr>



        </table>

    </td>
</tr>



<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 20px;">
        <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">


            <tr>
                <!-- Column : BEGIN -->
                <th valign="top" width="33.33%" class="stack-column-center">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                            <tr>
                                <td style="padding: 10px; text-align: center">

                                    <a href="https://one.google.com/about#upgrade" target="_blank"><img
                                            src="https://img.mservice.io/momo_app_v2/new_version/img/icon/icon_game2.png"
                                            align="center" class=""
                                            style="-ms-interpolation-mode:bicubic;Margin:0 auto;clear:both;display:block;float:none;margin:0 auto;max-width:100%;outline:0;text-align:center;text-decoration:none;width:91px; height: 91px"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: sans-serif; font-size: 15px; line-height: 20px; color: #a50064; padding: 0 10px 0; text-align: center;"
                                    class="">
                                    <p style="margin: 0;">GOOGLE ONE</p>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 5px 10px 0; text-align: center;"
                                    class="">
                                    <p class="text-center" style="margin: 0 auto;font-weight: normal; font-size: 13px;  font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 18px; max-width: 250px; ">Tăng dung lượng lưu trữ lên đến 200GB cho Gmail, Google Drive, Google Photos
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            
                <th valign="top" width="33.33%" class="stack-column-center">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                            <tr>
                                <td style="padding: 10px; text-align: center">

                                    <a href="https://play.google.com/store/apps" target="_blank"><img
                                            src="https://img.mservice.io/momo_app_v2/new_version/img/icon/icon_game1.png"
                                            align="center" class=""
                                            style="-ms-interpolation-mode:bicubic;Margin:0 auto;clear:both;display:block;float:none;margin:0 auto;max-width:100%;outline:0;text-align:center;text-decoration:none;width:91px; height: 91px"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: sans-serif; font-size: 15px; line-height: 20px; color: #a50064; padding: 0 10px 0; text-align: center;"
                                    class="">
                                    <p style="margin: 0;">GAMES - APPS</p>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 5px 10px 0; text-align: center;"
                                    class="">
                                    <p class="text-center" style="margin: 0 auto;font-weight: normal; font-size: 13px;  font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 18px; max-width: 250px; ">Thỏa thích chơi game, tải apps. Thanh toán 1 chạm, tiện lợi & an toàn
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th>

                <th valign="top" width="33.33%" class="stack-column-center">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                            <tr>
                                <td style="padding: 10px; text-align: center">

                                    <a href="https://play.google.com/store/movies" target="_blank"><img
                                            src="https://img.mservice.io/momo_app_v2/new_version/img/icon/icon_game4.png"
                                            align="center" class=""
                                            style="-ms-interpolation-mode:bicubic;Margin:0 auto;clear:both;display:block;float:none;margin:0 auto;max-width:100%;outline:0;text-align:center;text-decoration:none;width:91px; height: 91px"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: sans-serif; font-size: 15px; line-height: 20px; color: #a50064; padding: 0 10px 0; text-align: center;"
                                    class="">
                                    <p style="margin: 0;">GIẢI TRÍ SỐ</p>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 5px 10px 0; text-align: center;"
                                    class="">
                                    <p class="text-center" style="margin: 0 auto;font-weight: normal; font-size: 13px;  font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 18px; max-width: 250px; ">Xem phim, đọc sách, nghe nhạc. Thảnh thơi, mọi lúc, mọi nơi
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th>
           
            </tr>



        </table>

    </td>
</tr>



{% endblock %}