{% set title = 'Hóa đơn điện tử MoMo' %}

{% extends 'layouts/app-email.html' %}

{% block content %}






<tr>
    <td align="center" style="background-color: white; padding-top: 25px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <h1 class="h1m"
                        style="font-size: 22px; line-height: 28px;letter-spacing: -.20px; margin: 10px 0 16px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #ae006d; text-align: left;">
                        Hóa đơn điện tử MoMo</h1>
                </td>

            </tr>

            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        Xin chào bạn,<br>
                        Rất cảm ơn bạn đã sử dụng dịch vụ của Ví điện tử
                        MoMo.
                    </p>

                </td>

            </tr>


        </table>

    </td>
</tr>



<tr>
    <td align="center" style="background-color: white; padding-top: 15px; padding-bottom: 10px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class=""
                    style="font-size: 16px; font-family: Helvetica Neue, Arial, sans-serif; color: #969696; text-align: center;">

                    Khoản thanh toán</td>

            </tr>

            <tr>

                <td class=""
                    style="padding-top: 5px; font-size: 28px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 1.2em; font-weight: 500;">

                    ${totalAmount} 
                </td>

            </tr>

        </table>

    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; padding-top: 10px; padding-bottom: 10px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class=""
                    style="font-size: 13px; font-family: Helvetica Neue, Arial, sans-serif; color: #969696; text-align: left; font-weight: bold; padding-bottom: 5px;">
                    THÔNG TIN HÓA ĐƠN ${customerInformation}</td>
            </tr>

            <tr>
                <td align="center" style="background-color: white;">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="border-top: 1px solid #ececec;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </table>

    </td>
</tr>

<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 20px;">

        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="h2m"
                    style="padding-top: 5px; padding-bottom: 10px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em; vertical-align: top;"
                    width="70%">

                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;  font-weight: normal;">
                        Dịch vụ</div>

                    <div class=""
                        style="color:#3C4043;display:block;font-family:sans-serif;font-size:14px;font-weight:bold;line-height:24px;margin:0px;padding:0px;text-align:left;text-decoration:none; padding-right: 5px;">
                        Thanh toán ${partnerName}
                    </div>

                </td>

                <td class="h2m"
                    style="padding-top: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;   vertical-align: top;"
                    width="30%">

                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;   font-weight: normal;">
                        Nguồn tiền</div>

                    <div class=""
                        style="color:#3C4043;display:block;font-family:sans-serif;font-size:14px;font-weight:normal;line-height:18px;margin:0px;padding:0px;text-align:left;text-decoration:none; padding-right: 5px;">
                        Ví MoMo
                    </div>

                </td>

            </tr>

         

            <tr>

                <td class="h2m"
                    style="padding-top: 5px;  padding-bottom: 10px;  font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;  vertical-align: top;"
                    width="70%">

                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;  font-weight: normal;">
                        Thời gian</div>

                    <div class=""
                        style="color:#3C4043;display:block;font-family:sans-serif;font-size:14px;font-weight:normal;line-height:18px;margin:0px;padding:0px;text-align:left;text-decoration:none; padding-right: 5px;">
                        ${transTime}
                    </div>

                </td>

                <td class="h2m"
                    style="padding-top: 5px;  padding-bottom: 10px;  font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;  vertical-align: top;"
                    width="30%">

                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;   font-weight: normal;">
                        Mã giao dịch : </div>

                    <div class=""
                        style="color:#3C4043;display:block;font-family:sans-serif;font-size:14px;font-weight:normal;line-height:18px;margin:0px;padding:0px;text-align:left;text-decoration:none; padding-right: 5px;">
                        ${tranId}
                    </div>

                </td>

            </tr>

            <tr>

                <td class="h2m"
                    style="padding-top: 5px; padding-bottom: 10px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em; vertical-align: top;"
                    width="70%">

                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;  font-weight: normal;">
                        Sản phẩm</div>

                    <div class=""
                        style="color:#3C4043;display:block;font-family:sans-serif;font-size:14px;font-weight:bold;line-height:24px;margin:0px;padding:0px;text-align:left;text-decoration:none; padding-right: 5px;">
                        ${description}
                    </div>

                </td>

                <td class="h2m"
                    style="padding-top: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;   vertical-align: top;"
                    width="30%">

               

                </td>

            </tr>

        </table>

    </td>
</tr>





<tr>
    <td align="center" style="background-color: white; padding-top: 10px; padding-bottom: 10px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class=""
                    style="font-size: 13px; font-family: Helvetica Neue, Arial, sans-serif; color: #969696; text-align: left; font-weight: bold; padding-bottom: 5px;">
                    CHI TIẾT GIAO DỊCH</td>
            </tr>

            <tr>
                <td align="center" style="background-color: white;">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="border-top: 1px solid #ececec;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </table>

    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 20px;">

        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="70%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 15px; padding-right: 10px;">
                        Số tiền</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="30%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 15px;">
                        ${amount}đ</div>
                </td>

            </tr>

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="70%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:20px;  font-weight: normal; font-size: 15px; padding-right: 10px;">
                        Thuế</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="30%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 15px;">
                        ${fee}đ</div>
                </td>

            </tr>



            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="70%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:20px;  font-weight: normal; font-size: 15px; padding-right: 10px;">
                        Thẻ quà tặng</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="30%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 15px;">
                        ${voucher}</div>
                </td>

            </tr>

            ${if discount != ''}
            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="70%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:20px;  font-weight: normal; font-size: 15px; padding-right: 10px;">
                        Chiết khấu từ MoMo</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="30%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 15px;">
                        ${discount}</div>
                </td>

            </tr>
            ${end}


            ${if point != ''}
            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="70%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:20px;  font-weight: normal; font-size: 15px; padding-right: 10px;">
                        Điểm thưởng</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="30%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:22px;  font-weight: normal; font-size: 15px;">
                        ${point}</div>
                </td>

            </tr>

            ${end}

            <tr>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="70%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:22px;  font-weight: bold; font-size: 15px; padding-right: 10px;">
                        Tổng cộng</div>
                </td>
                <td class=""
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;"
                    width="30%">

                    <div
                        style="color:#3C4043;margin:0px;font-size:12px;line-height:22px;  font-weight: bold; font-size: 15px;">
                        ${totalAmount}đ</div>
                </td>

            </tr>

        </table>

    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 20px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class="h2m"
                    style="padding-top: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;">
                    ${lastResultService}
                </td>

            </tr>

        </table>

    </td>
</tr>


<tr>
    <td align="center" style="background-color: white; padding-top: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class="padding: 0; margin: 0">


                    <p class="h2m"
                        style="margin: 0 0 25px 0 ; font-size: 14px; font-style: italic; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        <strong style="color: #F1330A">LƯU Ý:</strong>
                        Để đảm bảo an toàn cho Ví, tuyệt đối
                        <b>KHÔNG cung cấp OTP/mật khẩu Ví MoMo, KHÔNG
                            cho người khác sử dụng Ví, và KHÔNG thiết
                            lập
                            thanh toán Ví với tài khoản của người dùng
                            khác</b>. <a href="https://momoapp.page.link/kG8TkryY5oYR98dN8"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;">Nhấn
                            vào đây</a> để quản lý
                        các dịch vụ liên kết của Ví, và hủy/tạm khóa các
                        liên kết không phải do bạn thực hiện.
                    </p>

                </td>
            </tr>
        </table>
    </td>
</tr>



{% endblock %}