{% set title = 'Đăng nhập thất bại!' %}

{% extends 'layouts/app-email.html' %}




{% block content %}



<tr>
    <td align="center"
       style="background-color: white; padding-top: 0; padding-bottom: 0; padding-left: 24px; padding-right: 24px;">
       <h1 class="h1m"
          style="font-size: 16px; line-height: 24px;margin: 15px 0 16px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: left;">
          Tiêu điểm
       </h1>
       <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="email-xs-marginBottom32"
          style="min-width: 100%;
          width: 100%;
          margin-top: 16px;
          margin-bottom: 36px;
          border-spacing: 0;">
          <tr>
             <td class="email-xs-paddingBottom12"
                style="min-width: 100%; width: 100%; padding-bottom: 16px; margin: 0">
                <a href="https://momo.vn/blog/cach-mua-bao-hiem-xe-may-online-an-toan-giao-tan-noi-c102dt133?utm_source=email&utm_medium=newsletter&utm_campaign=inbound052020" style="display:block; margin: 0 auto;">
                <img alt="alt_text" class="g-img"
                   src="https://static.mservice.io/blogscontents/momo-upload-api-200528114519-637262631197728936.jpg"
                   style="border-radius: 5px;max-width: 600px;background: rgb(221, 221, 221);font-family: sans-serif;font-size: 15px;line-height: 15px;color: rgb(85, 85, 85);margin: auto;display: block;border-width: 0px;border-style: solid;width: 100%;">
                </a>
             </td>
          </tr>
          <tr>
             <td style="min-width: 100%; width: 100%; padding-bottom: 0; padding: 0; margin: 0">
                <div class="email-bold email-digestPostTitle--hero"
                   style="font-size: 22px; line-height: 1.27; font-weight: 700;">
                   <a href="https://momo.vn/blog/cach-mua-bao-hiem-xe-may-online-an-toan-giao-tan-noi-c102dt133?utm_source=email&utm_medium=newsletter&utm_campaign=inbound052020" style="color: #333332; text-decoration: none;">Mua Bảo hiểm xe máy online trên MoMo -
                   Giao
                   nhanh tận nơi, an toàn, tiện lợi </a>
                </div>
                <div class="email-digestPostSubtitle" style="line-height: 1.33; font-size: 14px; margin-top: 10px; color:#757575">
                   Mức phạt từ 100,000 - 200,000 đồng / trường hợp khi tham gia giao thông không có Bảo hiểm xe máy
                   hoặc bảo hiểm không có giá trị pháp lý.
                </div>
             </td>
          </tr>
       </table>
       <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="email-xs-marginBottom32"
          style="min-width: 100%;
          width: 100%;
          margin-top: 16px;
          margin-bottom: 36px;
          border-spacing: 0;">
          <tbody>
             <tr class="" style="vertical-align: top;">
                <td class="email-width100 email-xs-block email-xs-fillWidth email-xs-paddingBottom12" width="100" style="width: 100px;">
                   <a href="https://momo.vn/tin-tuc/khuyen-mai/chong-nang-rang-ro-cung-anessa-giam-gia-cung-vi-momo-1219?utm_source=email&utm_medium=newsletter&utm_campaign=inbound052020" style="color: #333332; text-decoration: none;">
                      <div class="email-backgroundSizeCover email-backgroundNoRepeat email-width100 email-height100 email-xs-fillWidth email-borderBlueGrey email-backgroundGrayLightest"
                         style="background-image: url(https://static.mservice.io/blogscontents/momo-upload-api-200528114834-637262633148669464.jpg); background-position: 50% 0%; width: 100px; max-height: 100px; height: 100px; border: 1px solid #f2f2f2; background-color: #f8f8f8; background-size: cover; background-repeat: no-repeat;">
                         <!--[if (gte mso 9)|(IE)]><img src="https://static.mservice.io/blogscontents/momo-upload-api-200528114834-637262633148669464.jpg" width="100" height="100"><![endif]-->
                      </div>
                   </a>
                </td>
                <td class="email-paddingLeft20 email-xs-paddingLeft0 email-xs-block email-xs-fillWidth"
                   style="padding-left: 20px;">
                   <div class="email-bold email-digestPostTitle" style="font-size: 18px; line-height: 1.22; font-weight: 700;">
                      <a href="https://momo.vn/tin-tuc/khuyen-mai/chong-nang-rang-ro-cung-anessa-giam-gia-cung-vi-momo-1219?utm_source=email&utm_medium=newsletter&utm_campaign=inbound052020" style="color: #333332; text-decoration: none;">Chống nắng rạng rỡ cùng Anessa, giảm giá cùng Ví MoMo </a>
                   </div>

                   <div class="email-digestPostSubtitle"
                      style="line-height: 1.33; font-size: 14px; margin-top: 10px; color:#757575">
                      Giảm 60.000đ cho đơn hàng Anessa từ 399.000đ từ ngày 28/05 đến hết ngày 05/06/2020 khi mua trên Lazada và chọn thanh toán qua Ví MoMo.
                   </div>

              
                </td>
             </tr>
          </tbody>
       </table>


       <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="email-xs-marginBottom32"
       style="min-width: 100%;
       width: 100%;
       margin-top: 16px;
       margin-bottom: 36px;
       border-spacing: 0;">
       <tbody>
          <tr class="" style="vertical-align: top;">
             <td class="email-width100 email-xs-block email-xs-fillWidth email-xs-paddingBottom12" width="100" style="width: 100px;">
                <a href="https://momo.vn/tin-tuc/khuyen-mai/duong-toc-chuan-nhat-cung-tsubaki-mua-sam-tren-lazada-giam-45000d-1218?utm_source=email&utm_medium=newsletter&utm_campaign=inbound052020" style="color: #333332; text-decoration: none;">
                   <div class="email-backgroundSizeCover email-backgroundNoRepeat email-width100 email-height100 email-xs-fillWidth email-borderBlueGrey email-backgroundGrayLightest"
                      style="background-image: url(https://static.mservice.io/blogscontents/momo-upload-api-200528114906-637262633464098800.jpg); background-position: 50% 0%; width: 100px; max-height: 100px; height: 100px; border: 1px solid #f2f2f2; background-color: #f8f8f8; background-size: cover; background-repeat: no-repeat;">
                      <!--[if (gte mso 9)|(IE)]><img src="https://static.mservice.io/blogscontents/momo-upload-api-200528114906-637262633464098800.jpg" width="100" height="100"><![endif]-->
                   </div>
                </a>
             </td>
             <td class="email-paddingLeft20 email-xs-paddingLeft0 email-xs-block email-xs-fillWidth"
                style="padding-left: 20px;">
                <div class="email-bold email-digestPostTitle" style="font-size: 18px; line-height: 1.22; font-weight: 700;">
                   <a href="https://momo.vn/tin-tuc/khuyen-mai/duong-toc-chuan-nhat-cung-tsubaki-mua-sam-tren-lazada-giam-45000d-1218?utm_source=email&utm_medium=newsletter&utm_campaign=inbound052020" style="color: #333332; text-decoration: none;">Dưỡng tóc chuẩn Nhật cùng Tsubaki, mua sắm trên Lazada giảm 45.000đ </a>
                </div>

                <div class="email-digestPostSubtitle"
                   style="line-height: 1.33; font-size: 14px; margin-top: 10px; color:#757575">
                   Giảm 45.000đ cho đơn hàng Tsubaki từ ngày 28/05 đến hết ngày 05/06/2020 trên Lazada khi chọn thanh toán qua Ví MoMo.
                </div>

           
             </td>
          </tr>
       </tbody>
    </table>
    </td>
 </tr>
 



{% endblock %}


{% block footer %}

<!-- NEW FOOTER HERE -->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table class="w100" align="center" width="512" border="0" cellspacing="0" cellpadding="0">
                <!-- ADD ROW(S) HERE START -->





                <tr>
                    <td align="center" style="background-color: transparent; padding-top: 20px; padding-bottom: 20px;">
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>

                                                <td class="h2m stack-column-center " style="padding: 0; margin: 0">

                                                    <div class=""
                                                        style="color:#6A6C6D;display:block;font-family:sans-serif;font-size:13px;font-weight:700;line-height:17px;margin:0px 0px 8px 0px; padding:0px; text-align:center">

                                                        Công ty Cổ phần dịch vụ <br> Di Động
                                                        Trực Tuyến (M_Service)
                                                    </div>

                                                    <div
                                                        style="margin: 5px 0 0 0;color:#6A6C6D;display:block;font-family:sans-serif; font-size:11px;font-weight:normal;line-height:14px; text-align:center">
                                                        12 Tân Trào, Phường Tân Phú,
                                                        Quận 7, TP.HCMC
                                                    </div>

                                                </td>


                                            </tr>

                                        </tbody>
                                    </table>

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>

                                                <td class="h2m stack-column-center "
                                                    style="padding:0; text-align: center; ">

                                                    <div
                                                        style="color:#737373;margin:10px 0 0;font-size:12px;line-height:22px; text-transform: uppercase; font-weight: bold;">

                                                        <a href="https://www.facebook.com/vimomo/" target="_blank"
                                                            style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                                            <img class="display-inline-vertical" height="26" width="26"
                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:26px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:26px"
                                                                src="https://static.mservice.io/images/s/momo-upload-api-191105150846-637085633269386698.png"
                                                                title="facebook">

                                                        </a>&nbsp;&nbsp;

                                                        <a href="https://momo.vn/" target="_blank"
                                                            style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                                            <img class="display-inline-vertical" height="26" width="26"
                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:26px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:26px"
                                                                src="https://static.mservice.io/images/s/momo-upload-api-191105150920-637085633600093600.png"
                                                                title="momo">

                                                        </a>&nbsp;&nbsp;

                                                        <a href="mailto:hotro@momo.vn" target="_blank"
                                                            style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                                            <img class="display-inline-vertical" height="26" width="26"
                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:26px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:26px"
                                                                src="https://static.mservice.io/images/s/momo-upload-api-191105150941-637085633813746314.png"
                                                                title="email">

                                                        </a>&nbsp;&nbsp;

                                                        <a href="https://www.youtube.com/channel/UCKHHW-qL2JoZqcSNm1jPlqw"
                                                            target="_blank"
                                                            style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                                            <img class="display-inline-vertical" height="26" width="26"
                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:26px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:26px"
                                                                src="https://static.mservice.io/images/s/momo-upload-api-191105151010-637085634100025706.png"
                                                                title="youtube">

                                                        </a>


                                                    </div>



                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding: 10px 0 10px;">
                                    <table width="70%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td style="border-top: 1px dashed #bbbbbb;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>

                                <td class="padding: 0; margin: 0">
                                    <div class="text-center"
                                        style="color:#6A6C6D;display:block;font-family:sans-serif;font-size:11px;font-weight:normal; text-align: center;line-height:17px;margin:0px;padding:0px;">
                                        Bạn đang được nhận email từ tài khoản
                                        <strong>ví Momo ${user_id}</strong>
                                    </div>

                                    <div class="text-center"
                                        style="color:#6A6C6D;display:block;font-family:sans-serif;font-size:11px;font-weight:normal; text-align: center;line-height:17px;margin:0px;padding:0px;margin-top: 0px">
                                        Bạn có thể thay đổi tùy chọn email
                                        tại
                                        mục <strong>VÍ CỦA TÔI</strong>
                                        trong
                                        ứng dụng.</div>

                                </td>

                            </tr>

                        </table>

                    </td>
                </tr>
                <tr>
                    <td align="center" style="background-color: #F5F5F6;">
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="border-top: 1px solid #F5F5F6;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>


            </table>
        </td>
    </tr>
</table>

<!-- ||| FOOTER TABLE START ||| -->

<!-- FOOTER OLD HERE footer-old.html -->

{% endblock %}