{% set title = 'Yêu cầu lấy lại mật khẩu' %}

{% extends 'layouts/app-email.html' %}

{% block content %}
  <!-- ADD ROW(S) HERE START -->

<!-- /// PREHEADER ROW START /// -->
<tr>
        <td class="hide" align="center"
            style="padding-top: 10px; padding-bottom: 15px; ">
            <table width="95%" border="0" align="center" cellpadding="0"
                cellspacing="0">
                <tr>

                    <!-- * COPY START * -->
                    <!-- <td style="font-size: 12px; font-family: Arial, sans-serif; color: #696969; text-align: center;">Cám ơn bạn đã sử dụng MoMo</td> -->
                    <!-- * COPY END * -->

                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td align="center" style="background-color: white;">
            <table width="100%" border="0" align="center" cellpadding="0"
                cellspacing="0">
                <tbody>
                    <tr>
                        <td
                            style="border-top: 3px solid #ae2070;border-radius: 4px 4px 0 0;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td class="padt10m padb10m" align="center"
            style="background-color: white; padding-top: 15px; padding-bottom: 15px;">
            <table width="90%" border="0" align="center" cellpadding="0"
                cellspacing="0">
                <tr>

                    <td align="left">
                        <a href="https://www.momo.vn/"><img
                                src="https://static.mservice.io/images/s/momo-upload-api-191014142051-637066596519988668.png"
                                width="42" height="42" alt="Ví điện tử MoMo"
                                style="display: block; border: 0; font-size: 20px; font-weight: bold; font-family: sans-serif; color: #0D0D0D;"
                                class="resizem"></a>
                    </td>

                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td align="center" style="background-color: white;">
            <table width="100%" border="0" align="center" cellpadding="0"
                cellspacing="0">
                <tbody>
                    <tr>
                        <td style="border-top: 1px solid #ececec;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td align="center"
            style="background-color: white; padding-top: 25px; padding-bottom: 10px;">
            <table width="90%" border="0" align="center" cellpadding="0"
                cellspacing="0">
                <tr>

                    <td class="h1m"
                        style="font-size: 18px; font-family: Helvetica Neue, Arial, sans-serif; color: #262626; text-align: left;">
                        <strong>
                            Yêu cầu lấy lại mật khẩu</strong>
                    </td>

                </tr>

                <tr>

                    <td class="h2m"
                        style="padding-top: 15px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;">

                        Chào bạn, chúng tôi vừa nhận được yêu
                        cầu lấy lại mật khẩu cho tài khoản Ví
                        MoMo
                        <strong>*******${phone}</strong>.

                    </td>

                </tr>

                <tr>

                    <td class="h2m"
                        style="padding-top: 15px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;">

                        Mật khẩu tạm thời sẽ được gửi tới Số
                        Điện Thoại của bạn. Vui lòng bấm nút
                        <strong>“Lấy lại mật khẩu”</strong> dưới
                        đây để xác thực yêu cầu.

                    </td>
                </tr>

                <tr>

                    <td class="h2m"
                        style="padding-top: 15px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;">
                        Vì lý do Bảo Mật và An Toàn, xin vui
                        lòng
                        <strong>KHÔNG</strong> cung cấp mật khẩu
                        tạm thời này cho bất kì ai và
                        <strong>KHÔNG</strong> làm theo bất kỳ
                        yêu cầu nào đề nghị bạn nhấp vào nút
                        "Lấy lại mật khẩu".

                    </td>

                </tr>

            </table>

        </td>
    </tr>

    <tr>
        <td align="center"
            style="background-color: white; padding-top: 0; padding-bottom: 10px;">
            <table width="90%" border="0" align="center" cellpadding="0"
                cellspacing="0">

                <tr>

                    <td class="h2m"
                        style="padding-top: 5px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;">

                        <div
                            style="color:#737373;margin:0px;font-size:12px;line-height:22px;  text-transform: uppercase; font-weight: bold;">
                            **Lưu ý:</div>

                        Nếu yêu cầu này không phải từ bạn, chúng
                        tôi nghĩ rằng có thể người nào đó đang
                        muốn đăng nhập và sử dụng Ví MoMo
                        <strong>*******${phone}</strong> của
                        bạn.

                    </td>

                </tr>

                <tr>

                    <td class="h2m"
                        style="padding-top: 15px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;">
                        Trong trường hợp có bất kỳ ai tự xưng là
                        nhân viên MoMo và yêu cầu bạn nhấp vào
                        nút <strong>“Lấy lại mật
                            khẩu”</strong>, xin vui lòng
                        <strong>KHÔNG</strong> làm theo và hãy
                        gọi ngay cho tổng đài MoMo <a href="tel:1900545441"
                            style="text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal; color: #0084BF; font-weight: bold;"><span>1900545441</span></a>
                        để được hỗ trợ.

                    </td>

                </tr>

            </table>

        </td>
    </tr>

    <tr>
        <td align="left"
            style="background-color: white; padding-top: 15px; padding-bottom: 20px;">

            <table width="90%" border="0" align="center" cellpadding="0"
                cellspacing="0">
                <tr>
                    <td>
                        <a title="Mở ứng dụng" href="${link}"
                            target="_blank"
                            style="padding:8px 20px;cursor:pointer;-webkit-text-size-adjust:100%;font-weight:bold;font-size:16px;-ms-text-size-adjust:100%;border-color:#ae2070; color: white;  background-color:#ae2070;border-radius:5px;mso-table-rspace:0pt;mso-table-lspace:0pt;border-width:1px;border-style:solid;">Lấy
                            lại mật khẩu</a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>

    <tr>
        <td align="center"
            style="background-color: white; padding-top: 25px; padding-bottom: 20px;">
            <table width="90%" border="0" align="center" cellpadding="0"
                cellspacing="0">

                <tr>

                    <td class="h2m"
                        style="padding-top: 5px; font-size: 12px; font-family: Helvetica Neue, Arial, sans-serif; color: #737373; text-align: left; line-height: 1.55em; font-style: italic; ">
                        <div>
                            Trân trọng,
                        </div>

                        <div>
                            Đội phát triển ứng dụng MoMo
                        </div>
                    </td>

                </tr>

            </table>
        </td>
    </tr>
{% endblock %}