{% set title = 'Xác thực thành công' %}

{% extends 'layouts/app-email.html' %}

{% block scriptEmail %}

<script type="text/javascript">
    function startTimer(duration, display) {
        var timer = duration, seconds;
        var interval = setInterval(function () {
            seconds = parseInt(timer % 60, 10);
            if (seconds == 0) {
                seconds = 60;
            }
            display.textContent = seconds;

            if (--timer < 0) {
                clearInterval(interval);
                document.getElementById('mess').innerHTML = "";
                document.getElementById('mess').innerHTML = "Không nhận được tin nhắn? <br/><br/><a onClick=\'requestPass()\' href=\'#\' style=\'text-decoration: none;color: #b2006e;font-weight: bold;display: inline-block;border: 1px solid #b2006e57;border-radius: 5px;padding: 5px 15px; \'>Yêu cầu MoMo gọi cung cấp mật khẩu.</a>";
            }
        }, 1000);
    }

    window.onload = function () {
        var secondTime = 60,
            display = document.querySelector('#time');
        startTimer(secondTime, display);
    };

    function requestPass() {
        document.getElementById("formRePin").submit();
    };

</script>

{% endblock %}

{% block content %}
<!-- ADD ROW(S) HERE START -->

<form id="formRePin" action="${linkRePin}" method="post">
    <input type="hidden" value="isRePin" id="type" name="action" />
</form>


<tr>
    <td align="center" style="background-color: white; padding-top: 25px; padding-bottom: 10px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class="h2m"
                    style="padding-top: 15px; padding-bottom: 20px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;">

                    <div
                        style="color:#737373;margin:0px;font-size:12px;line-height:22px; text-align: center; font-weight: bold;">
                        <img src="https://static.mservice.io/images/s/momo-upload-api-191030144906-637080437464762522.png"
                            alt="" width="130">
                    </div>



                </td>

            </tr>

            <tr>


                <td class="padding: 0; margin: 0">
                    <h1 class="h1m"
                        style="font-size: 22px; line-height: 28px;letter-spacing: -.20px; margin: 10px 0 16px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: center;">
                        Xác thực thành công</h1>
                </td>



            </tr>

            <tr>

                <td class="h2m"
                    style="padding-top: 5px; padding-bottom: 15px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 1.55em;">


                    <div style="color:#737373;margin:0px;font-size:16px;line-height:1.7; text-align: center; font-weight: normal;"
                        class="h2m">
                        Một mật khẩu OTP đã được gửi đến tài khoản

                    </div>

                    <div style="color:#737373;margin:0px;font-size:16px;line-height:1.7; text-align: center; font-weight: normal;"
                        class="h2m">
                        Ví điện tử MoMo

                        <strong> xxxxxxx${phone}</strong> của Quý khách.

                    </div>


                </td>

            </tr>



        </table>

    </td>
</tr>





<tr>
    <td align="center" style="background-color: white; padding-top: 0; padding-bottom: 20px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class="" style=" padding:0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        Vui lòng kiểm tra tin nhắn và tiếp tục quá trình lấy lại mật khẩu.
                    </p>
                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        <div id="mess"    style="font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                                Không nhận được tin nhắn? <br>
                                Yêu cầu MoMo gọi cung cấp mật khẩu sau <b><span id="time">60</span></b>
                            </div>
                    </p>


                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        Cám ơn Quý Khách đã sử dụng dịch vụ của MoMo.
                    </p>

                </td>

            </tr>

        </table>

    </td>
</tr>




{% endblock %}


{% block footer %}
{% endblock %}