{% set title = 'Xác thực email thành công' %}

{% extends 'layouts/app-email.html' %}

{% block content %}
<!-- ADD ROW(S) HERE START -->


<tr>
    <td align="center" style="background-color: white; padding-top: 25px; padding-bottom: 10px;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

            <tr>

                <td class="h2m"
                    style="padding-top: 15px; padding-bottom: 20px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 1.55em;">

                    <div
                        style="color:#737373;margin:0px;font-size:12px;line-height:22px; text-align: center; font-weight: bold;">
                        <img src="https://static.mservice.io/images/s/momo-upload-api-191030145754-637080442749466098.png"
                            alt="" width="100">
                    </div>



                </td>

            </tr>

            <tr>

                <td class="padding: 0; margin: 0">
                    <h1 class="h1m"
                        style="font-size: 22px; line-height: 28px;letter-spacing: -.20px; margin: 10px 0 16px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; text-align: center;">
                        Xác thực email thành công</h1>
                </td>

            </tr>

            <tr>

                <td class="h2m"
                    style="padding-top: 5px; padding-bottom: 30px; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 1.55em;">


                    <div style="color:#737373;margin:0px;font-size:16px;line-height:1.7; text-align: center; font-weight: normal;"
                        class="h2m">
                        Cám ơn Quý Khách đã sử dụng dịch vụ của MoMo
                    </div>
                </td>

            </tr>


        </table>

    </td>
</tr>


{% endblock %}

{% block footer %}
{% endblock %}