{% set title = 'Xác thực tài khoản' %}

{% extends 'layouts/app-email.html' %}

{% block content %}
<!-- ADD ROW(S) HERE START -->


<tr>
    <td align="center" style="background-color: white; padding-top: 20px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <img alt="alt_text" class="g-img"
                        src="https://static.mservice.io/images/s/momo-upload-api-210223130158-637496821181526646.png"
                        style="max-width: 600px;background: rgb(221, 221, 221);margin: auto;display: block;border-width: 0px;border-style: solid;width: 100%;">
                </td>

            </tr>
        </table>
    </td>
</tr>



<tr>
    <td align="center" style="background-color: white; padding-top: 16px; padding-bottom: 0;">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td class="padding: 0; margin: 0">
                    <h1 class="h1m"
                        style="font-size: 20px; text-align: center; line-height: 26px;letter-spacing: -.20px; margin: 10px 0 16px 0; font-family: Helvetica Neue, Arial, sans-serif; color: #1d1d1f; ">
                        Xác thực tài khoản</h1>
                </td>

            </tr>
            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 5px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 22px;">
                        Xin chào <b>${fullname}</b>,
                    </p>

                </td>

            </tr>

     

            <tr>

                <td class="padding: 0; margin: 0">

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">

                        Bạn đã đăng ký Ví mới với số điện thoại <strong>*******${phone}</strong>.
                        
                    </p>

                    <p class="h2m"
                        style="margin: 0 0 15px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">


                        Để bảo vệ tài khoản của bạn tốt hơn và nhận các thông tin hoá đơn điện tử, vui lòng nhấn vào nút dưới đây để xác nhận địa chỉ email của bạn. 


                    </p>


                </td>



            </tr>

        </table>

    </td>
</tr>


<tr>
    <td align="left" style="background-color: white; padding-top: 10px; padding-bottom: 30px;">

        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
       
            <tr>
                
                <td>
                    <p style="margin: 5px 0 30px 0 ; font-size: 14px; font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: center; line-height: 24px;">
                    <a title="Mở ứng dụng" href="${link}" target="_blank"
                        style="padding:10px 35px;cursor:pointer;-webkit-text-size-adjust:100%;font-weight:bold;font-size:16px;-ms-text-size-adjust:100%;border-color:#ae2070; color: white;  background-color:#ae2070;border-radius:5px;mso-table-rspace:0pt;mso-table-lspace:0pt;border-width:1px;border-style:solid;">Xác nhận Email</a>
                    </p>

           
                </td>
            </tr>

            <tr>
                <td align="center" style="background-color: #F5F5F6;">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="border-top: 1px solid #F5F5F6;"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                
                <td>
                    <p class="h2m"
                    style="margin: 20px 0 5px 0 ; font-size: 15px;  font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        <strong style="color: #F1330A">LƯU Ý:</strong> 
                    </p>

                    <p class="h2m"
                    style="margin: 0 0 5px 0 ; font-size: 14px;  font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                        <strong>Để đảm bảo an toàn cho Ví, tuyệt đối: </strong>
                    </p>

                    <div class="h2m"
                    style="margin: 0 0 0 0 ; font-size: 14px;  font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                      
                    - KHÔNG cung cấp OTP/mật khẩu Ví MoMo 
                    </div>

                    <div class="h2m"
                    style="margin: 0 0 0 0 ; font-size: 14px;  font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                      
                    - KHÔNG cho người khác sử dụng Ví 
                    </div>

                    <div class="h2m"
                    style="margin: 0 0 0 0 ; font-size: 14px;  font-family: Helvetica Neue, Arial, sans-serif; color: #3C4043; text-align: left; line-height: 24px;">
                      
                    - KHÔNG thiết lập thanh toán Ví với tài khoản người dùng khác.
                    </div>
                </td>
            </tr>
            

        </table>

    </td>
</tr>



{% endblock %}