<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

</head>

<body>

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
        xmlns:o="urn:schemas-microsoft-com:office:office">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--[if !mso]><!-- -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--<![endif]-->
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" name="viewport">
        <meta name="viewport" content="width=device-width">
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

        <title>{{title}}</title>



        {% block scriptEmail %}


        {% endblock %}

        <!--Leave Spaces 1019 characters for iOS Buffering-->


        <!--Leave Spaces 1019 characters for iOS Buffering-->
        <style type="text/css">
            .ExternalClass {
                width: 100%;
            }

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }

            table td {
                border-collapse: collapse;
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: inherit;
                padding: 0;
                margin: 0;
                color: black;
                line-height: 100%;
            }

            .applelinks a {
                text-decoration: none;
                color: inherit !important;
            }

            a {
                color: black;
                text-decoration: none;
            }

            a,
            a:link,
            a:visited {
                color: inherit;
                text-decoration: none;
            }

            .gmailfix {
                display: none;
                display: none !important;
            }

            /* SOju full width .gmailfix */
            @media screen and (max-width: 480px) {
                u+.body {
                    min-width: 100vw;
                }

                u~div {
                    min-width: 100vw;
                }
            }

            body {
                font-family: Arial, sans-serif;
                font-size: 14px;
                -webkit-text-size-adjust: none;
                -ms-text-size-adjust: none;
                -webkit-font-smoothing: antialiased;
                margin: 0;
                padding: 0;
            }

            @media only screen and (max-width: 480px) {

                .w100m,
                .column50,
                .column33,
                .column25,
                .column75,
                .column66 {
                    width: 100% !important;
                }

                .w90m {
                    width: 90% !important;
                }

                .w85m {
                    width: 85% !important;
                }

                .expandm {
                    width: 100% !important;
                    display: block !important;
                }

                .mobileheight {
                    height: 100px !important;
                }


                .hidem {
                    display: none !important;
                }

                .h1m {
                    /* font-size: 18px !important; */
                }

                .h2m {
                    font-size: 14px !important;
                }

                .centerm {
                    text-align: center !important;
                }

                .leftm {
                    text-align: left !important;
                }

                .padt0m {
                    padding-top: 0px !important;
                }

                .padt5m {
                    padding-top: 5px !important;
                }

                .padt10m {
                    padding-top: 10px !important;
                }

                .padt20m {
                    padding-top: 20px !important;
                }

                .padt30m {
                    padding-top: 30px !important;
                }

                .padb5m {
                    padding-bottom: 5px !important;
                }

                .padb10m {
                    padding-bottom: 10px !important;
                }

                .padb20m {
                    padding-bottom: 20px !important;
                }

                .padb30m {
                    padding-bottom: 30px !important;
                }

                .width320 {
                    width: 320px !important;
                }

                .cell12x15 {
                    width: 12px;
                    height: 15px !important;
                }

                .width296 {
                    width: 296px !important;
                }

                .width12 {
                    width: 12px !important;
                }
            }

            @media only screen and (max-width: 512px) {

                .soju-border-space{
                    padding-top: 15px !important;
                    padding-bottom: 15px !important;
                }




                .w100 {
                    width: 100% !important;
                }

                .w90 {
                    width: 90% !important;
                }

                .w85 {
                    width: 90% !important;
                }

                .minwidth {
                    min-width: 100% !important;
                }

                .hide {
                    display: none !important;
                }

                .resize {
                    width: 100% !important;
                    height: auto !important;
                }

                .resize img {
                    width: 100% !important;
                    height: auto !important;
                }

                .expand {
                    width: 100% !important;
                    display: block !important;
                }

                .height0 {
                    height: 0 !important;
                }

                .column50 {
                    width: 50%;
                }

                .column33 {
                    width: 33.33%;
                }

                .column25 {
                    width: 25%;
                }

                .column75 {
                    width: 75%;
                }

                .column66 {
                    width: 66%;
                }

                .center {
                    text-align: center !important;
                }

                .borderr0 {
                    border-right: 0px !important;
                }

                .padt0 {
                    padding-top: 0px !important;
                }

                .padt5 {
                    padding-top: 5px !important;
                }

                .padt10 {
                    padding-top: 10px !important;
                }

                .padt20 {
                    padding-top: 20px !important;
                }

                .padt30 {
                    padding-top: 30px !important;
                }

                .padb0 {
                    padding-bottom: 0px !important;
                }

                .padb5 {
                    padding-bottom: 5px !important;
                }

                .padb10 {
                    padding-bottom: 10px !important;
                }

                .padb20 {
                    padding-bottom: 20px !important;
                }

                .padb30 {
                    padding-bottom: 30px !important;
                }
            }

            /* More style by Desmond */
            @media screen and (max-width: 600px) {

                .email-container {
                    width: 100% !important;
                    margin: auto !important;
                }

                /* What it does: Forces table cells into full-width rows. */
                .stack-column,
                .stack-column-center {
                    display: block !important;
                    width: 100% !important;
                    max-width: 100% !important;
                    direction: ltr !important;
                }

                /* And center justify these ones. */
                .stack-column-center {
                    text-align: center !important;
                }

                /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
                .center-on-narrow {
                    text-align: center !important;
                    display: block !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                    float: none !important;
                }

                table.center-on-narrow {
                    display: inline-block !important;
                }

                /* What it does: Adjust typography on small screens to improve readability */
                .email-container p {
                    font-size: 17px !important;
                }
            }

            @media all and (max-width:420px) {

                .email-digestPostTitle--hero {
                    font-size: 19px !important;
                    line-height: 1.26 !important;
                }

                .email-xs-paddingBottom12 {
                    padding-bottom: 12px !important;
                }

                .email-xs-marginBottom32 {
                    margin-bottom: 32px !important;
                }

                .email-xs-block {
                    display: block;
                }

                .email-xs-fillWidth {
                    width: 100% !important;
                }

                .email-xs-paddingBottom12 {
                    padding-bottom: 12px !important;
                }

                .email-xs-paddingLeft0 {
                    padding-left: 0 !important;
                }

                .email-digestPostTitle {
                    font-size: 17px !important;
                    line-height: 1.3 !important;
                }

                .email-digestPostTitle--hero {
                    font-size: 19px !important;
                    line-height: 1.26 !important;
                }

                .email-backgroundSizeCover {
                    height: 150px !important;
                    max-height: 150px !important;
                }

            }
        </style>

        <!--[if mso]>
<style type="text/css">
body {
	margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, sans-serif !important;
    }

table, td, div, p {
	font-family: Arial, sans-serif !important;
    line-height: normal;
    }    
</style>
<![endif]-->

        <!--[if gte mso 9]>
<xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

    </head>

    <body class="body"
        style="-webkit-text-size-adjust: none;-ms-text-size-adjust: none; margin: 0; padding: 0; width: 100%; background-color: #f3f3f3;">

        <span style="display:none;font-size:0;max-height:0;width:0;line-height:0;mso-hide:all"></span>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="minwidth" align="center" style="min-width: 512px; background-color: #f3f3f3;">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>



                                <!-- TABLES START -->

                                <!-- ||| MAIN BODY TABLE START ||| -->


                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center">
                                            <table class="w100" align="center" width="512" border="0" cellspacing="0"
                                                cellpadding="0">
                                                <!-- ADD ROW(S) HERE START -->


                                                <!-- /// PREHEADER ROW START /// -->
                                                <tr>
                                                    <td class="hide" align="center"
                                                        style="padding-top: 10px; padding-bottom: 15px; ">
                                                        <table width="95%" border="0" align="center" cellpadding="0"
                                                            cellspacing="0">
                                                            <tr>

                                                                <!-- * COPY START * -->
                                                                <!-- <td style="font-size: 12px; font-family: Arial, sans-serif; color: #696969; text-align: center;">Cám ơn bạn đã sử dụng MoMo</td> -->
                                                                <!-- * COPY END * -->

                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td align="center" style="background-color: white;">
                                                        <table width="100%" border="0" align="center" cellpadding="0"
                                                            cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="border-top: 3px solid #ae2070;border-radius: 4px 4px 0 0;">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>



                                                <tr>
                                                    <td class="padt10m padb10m" align="center"
                                                        style="background-color: #FDFDFE; padding-top: 15px; padding-bottom: 15px;">
                                                        <table width="90%" border="0" align="center" cellpadding="0"
                                                            cellspacing="0">
                                                            <tr>

                                                                <td align="left" width="46">
                                                                    <a href="https://www.momo.vn/"><img src="https://static.mservice.io/images/s/momo-upload-api-191029110856-637079441360238984.png"
                                                                            width="35" height="35" alt="Ví điện tử MoMo"
                                                                            style="display: block; border: 0; font-size: 20px; font-weight: bold; font-family: sans-serif; color: #22222;"
                                                                            class="resizem"></a>
                                                                </td>

                                                                <td align="left">
                                                                    <div
                                                                        style="display: block; border: 0; font-size: 16px; font-weight: bold; font-family: sans-serif; color: #222222;">
                                                                        Ví điện tử MoMo
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td align="center" style="background-color: #F5F5F6;">
                                                        <table width="100%" border="0" align="center" cellpadding="0"
                                                            cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-top: 1px solid #F5F5F6;"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>


                                                {% block content %}


                                                {% endblock %}

                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- ||| MAIN BODY TABLE END ||| -->


                                {% block footer %}

                                <!-- NEW FOOTER HERE -->

                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center">
                                            <table class="w100" align="center" width="512" border="0" cellspacing="0"
                                                cellpadding="0">
                                                <!-- ADD ROW(S) HERE START -->



                                                <tr>
                                                    <td align="center"
                                                        style="background-color: #ae2070; padding-top: 20px; padding-bottom: 20px;">
                                                        <table width="90%" border="0" align="center" cellpadding="0"
                                                            cellspacing="0">
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="0" align="center"
                                                                        cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>

                                                                                <td class="h2m stack-column-center"
                                                                                    style="padding: 0; margin: 0">

                                                                                    <div class=""
                                                                                        style="color:#f3e6ec;display:block;font-family:sans-serif;font-size:13px;font-weight:700;line-height:19px;margin:0px;padding:0px; text-align: center;">

                                                                                        Công ty Cổ phần dịch vụ Di Động
                                                                                        <br>
                                                                                        Trực Tuyến (M_Service)
                                                                                    </div>

                                                                                    <div
                                                                                        style="margin: 5px 0 0 0;color:#f3e6ec;display:block;font-family:sans-serif; font-size:12px;font-weight:normal;line-height:20px; text-align: center">
                                                                                        12 Tân Trào, Phường Tân Phú,
                                                                                        Quận 7, TP.HCMC
                                                                                    </div>

                                                                                </td>

                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                    <table width="100%" border="0" align="center"
                                                                    cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>

                                                                            <td class="h2m "
                                                                                style="padding:0; ">

                                                                                <div
                                                                                    style="color:#737373;margin:10px 0;font-size:12px;line-height:22px; text-transform: uppercase; text-align:center;font-weight: bold;">

                                                                                    <a href="https://www.facebook.com/vimomo/"
                                                                                        target="_blank"
                                                                                        style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                                                                        <img class="display-inline-vertical"
                                                                                            height="26" width="26"
                                                                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:26px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:26px"
                                                                                            src="https://static.mservice.io/images/s/momo-upload-api-191105150846-637085633269386698.png"
                                                                                            title="facebook">

                                                                                    </a>&nbsp;&nbsp;

                                                                                    <a href="https://momo.vn/"
                                                                                        target="_blank"
                                                                                        style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                                                                        <img class="display-inline-vertical"
                                                                                            height="26" width="26"
                                                                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:26px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:26px"
                                                                                            src="https://static.mservice.io/images/s/momo-upload-api-191105150920-637085633600093600.png"
                                                                                            title="momo">

                                                                                    </a>&nbsp;&nbsp;

                                                                                    <a href="mailto:hotro@momo.vn"
                                                                                        target="_blank"
                                                                                        style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                                                                        <img class="display-inline-vertical"
                                                                                            height="26" width="26"
                                                                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:26px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:26px"
                                                                                            src="https://static.mservice.io/images/s/momo-upload-api-191105150941-637085633813746314.png"
                                                                                            title="email">

                                                                                    </a>&nbsp;&nbsp;

                                                                                    <a href="https://www.youtube.com/channel/UCKHHW-qL2JoZqcSNm1jPlqw"
                                                                                        target="_blank"
                                                                                        style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                                                                        <img class="display-inline-vertical"
                                                                                            height="26" width="26"
                                                                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:26px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:26px"
                                                                                            src="https://static.mservice.io/images/s/momo-upload-api-191105151010-637085634100025706.png"
                                                                                            title="youtube">

                                                                                    </a>


                                                                                </div>



                                                                            </td>

                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                                </td>
                                                                
                                                            </tr>


                                                            <tr>
                                                                <td align="center" style="padding: 10px 0 10px;">
                                                                    <table width="100%" border="0" align="center"
                                                                        cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-top: 1px dashed #bf6191;">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>

                                                                <td class="padding: 0; margin: 0">
                                                                    <div class="text-center"
                                                                        style="color:#e5c6d5;display:block;font-family:sans-serif;font-size:11px;font-weight:normal; text-align: center;line-height:17px;margin:0px;padding:0px;">
                                                                        Bạn đang được nhận email từ tài khoản
                                                                        <strong>ví Momo ${user_id}</strong>
                                                                    </div>

                                                                    <div class="text-center"
                                                                        style="color:#e5c6d5;display:block;font-family:sans-serif;font-size:11px;font-weight:normal; text-align: center;line-height:17px;margin:0px;padding:0px;margin-top: 0px">
                                                                        Bạn có thể thay đổi tùy chọn email
                                                                        tại
                                                                        mục <strong>VÍ CỦA TÔI</strong>
                                                                        trong
                                                                        ứng dụng.</div>

                                                                </td>

                                                            </tr>

                                                        </table>


                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="background-color: #F5F5F6;">
                                                        <table width="100%" border="0" align="center" cellpadding="0"
                                                            cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-top: 1px solid #F5F5F6;"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>


                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <!-- ||| FOOTER TABLE START ||| -->

                                <!-- FOOTER OLD HERE footer-old.html -->

                                {% endblock %}
                                <!-- ||| FOOTER TABLE END ||| -->

                                <!-- TABLES END -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class="gmailfix" style="white-space:nowrap; font:15px courier; line-height:0;">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <table cellpadding="0" cellspacing="0"
            style="border: 0px; padding: 0px; margin: 0px; position: absolute; display: none; float: left">
            <tr>
                <td height="1" style="font-size: 1px; line-height: 1px; padding: 0px;">
                    <br>
                    </img>
                </td>
            </tr>
        </table>

    </body>

    </html>

</body>

</html>