<!-- ||| FOOTER TABLE START ||| -->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="center">
                <!-- Footer -->
                <table class="width320" width="512" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="background-color:#f2f2f2;">
                    <tbody>
                        <tr>
                            <td class="width320" width="512" colspan="3" align="left" valign="top" bgcolor="#f2f2f2"
                                style="background-color:#f2f2f2;">
                            </td>
                        </tr>
                        <tr>
                            <td class="width12" width="24" height="24" align="left" valign="top"></td>
                            <td class="width296" width="464" align="left" valign="top">
                            </td>
                            <td class="width12" width="24"></td>
                        </tr>

                        <tr>
                            <td class="cell12x15" width="24" height="10" align="left" valign="top"></td>
                            <td class="width296" width="464" align="left" valign="top">
                            </td>
                            <td class="width12" width="24"></td>
                        </tr>


                        <tr>
                            <td class="cell12x15" width="24" height="10" align="left" valign="top"></td>
                            <td class="width296" width="464" align="center" valign="top">

                                <p class="text-center"
                                    style="Margin:0;Margin-bottom:10px;color:#4A4A4A;font-family:Roboto,Helvetica,sans-serif;font-size:14px;font-weight:400;hyphens:none!important;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:center">
                                    <a href="https://www.facebook.com/vimomo/" target="_blank"
                                        style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                        <img class="display-inline-vertical" height="24" width="24"
                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:24px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:24px"
                                            src="https://static.mservice.io/images/s/momo-upload-api-191011164255-637064089754757952.png"
                                            title="facebook">

                                    </a>&nbsp;&nbsp;&nbsp;

                                    <a href="https://momo.vn/" target="_blank"
                                        style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                        <img class="display-inline-vertical" height="24" width="24"
                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:24px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:24px"
                                            src="https://static.mservice.io/images/s/momo-upload-api-191011164317-637064089977821069.png"
                                            title="facebook">

                                    </a>&nbsp;&nbsp;&nbsp;

                                    <a href="mailto:hotro@momo.vn" target="_blank"
                                        style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                        <img class="display-inline-vertical" height="24" width="24"
                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:24px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:24px"
                                            src="https://static.mservice.io/images/s/momo-upload-api-191011164334-637064090143238392.png"
                                            title="facebook">

                                    </a>&nbsp;&nbsp;&nbsp;

                                    <a href="https://www.youtube.com/channel/UCKHHW-qL2JoZqcSNm1jPlqw" target="_blank"
                                        style="Margin:0;color:#9B9B9B;font-family:Roboto,Helvetica,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">

                                        <img class="display-inline-vertical" height="24" width="24"
                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;height:24px;max-width:100%;outline:0;text-decoration:none;vertical-align:middle;width:24px"
                                            src="https://static.mservice.io/images/s/momo-upload-api-191011164351-637064090316210002.png"
                                            title="facebook">

                                    </a>

                                </p>
                            </td>
                            <td class="width12" width="24"></td>
                        </tr>



                        <tr>
                            <td class="cell12x15" width="24" height="10" align="left" valign="top"></td>
                            <td class="width296" width="464" align="left" valign="top">
                            </td>
                            <td class="width12" width="24"></td>
                        </tr>
                        <tr>
                            <td class="width12" width="24" align="left" valign="top">
                            </td>
                            <td class="width296" width="464" align="center" valign="top">
                                <table class="width296" width="464" border="0" align="center" cellpadding="0"
                                    cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="top"
                                                style="font-family:Helvetica, Arial, sans-serif; font-size:12px; font-weight:normal; color:#737373; padding-top: 10px; line-height:normal; line-height: 16px;">
                                                Bạn đang được nhận email từ tài khoản
                                                <strong>ví Momo ${user_id}</strong>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td align="center" valign="top"
                                                style="font-family:Helvetica, Arial, sans-serif; font-size:12px; font-weight:normal; color:#737373; line-height:normal; line-height: 16px; ">
                                                <div style="margin-top: 5px;">
                                                    Bạn có thể thay đổi tùy chọn email
                                                    tại
                                                    mục <strong>VÍ CỦA TÔI</strong>
                                                    trong
                                                    ứng dụng.</div>

                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="center" style="padding: 10px 0 5px">
                                                <table width="50%" border="0" align="center" cellpadding="0"
                                                    cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top: 1px solid #dadada;">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                            <td class="width12" width="24"></td>
                        </tr>

                        <tr>
                            <td class="cell12x15" width="24" height="10" align="left" valign="top"></td>
                            <td class="width296" width="464" align="left" valign="top">
                            </td>
                            <td class="width12" width="24"></td>
                        </tr>
                        <tr>
                            <td class="width12" width="24" align="left" valign="top">
                            </td>
                            <td class="width296" width="464" align="center" valign="top">
                                <table class="width296" width="450" border="0" align="center" cellpadding="0"
                                    cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="top"
                                                style="font-family:Helvetica, Arial, sans-serif; font-size:12px; font-weight:normal; color:#737373; line-height:16px; line-clamp: 20px;">

                                                <div>
                                                    <strong>Công ty Cổ phần dịch vụ Di
                                                        Động Trực Tuyến
                                                        (M_Service)</strong>
                                                </div>

                                                <div style="margin-top: 5px">
                                                    12 Tân Trào, Phường Tân Phú, Quận 7,
                                                    TP.HCMC
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="width12" width="24"></td>
                        </tr>


                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>